.outbox {
  background-image: url("https://img.freepik.com/free-vector/pensive-businessman-making-decision_74855-5283.jpg?w=1380&t=st=1660730837~exp=1660731437~hmac=681d2a9bbf729849cd575dc3d2914743972b5eb83ed6f1c89dd8832a090aefb5");
  background-repeat: no-repeat;
  background-size: auto;
}
