.navbar {
  background-color: #fff;
  border-bottom: 1px solid #e7e7e7;
  border-radius: 0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
  padding: 0.8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar .navbar-brand {
  font-size: 1.8em;
  font-weight: bold;
  margin-right: 20px;
  padding: 20px 20px;
  text-decoration: none;
  color: #f56565;
  position: relative;
}

.navbar .navbar-brand:hover {
  color: #000;
}

.right-items {
  margin-right: 20px;
}

/* Underline on hover anim */

.navitemsparent {
  /* margin: 150px auto 0;
  padding: 0; */
  list-style: none;
  display: table;
  width: 600px;
  text-align: center;
}
.navitem {
  display: table-cell;
  position: relative;
  padding: 15px 0;
}
.link {
  
  /* display: inline-block; */
  /* padding: 15px 20px; */
  position: relative;
}
.link:after {
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: red;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.link:hover:after {
  width: 100%;
  left: 0;
}
